@charset "utf-8";

/* *********** DEFINE - FONTS *********** */
@font-face {
    font-family: 'PretendardBold';
    src: url('../font/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'PretendardMedium';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'PretendardLight';
    src: url('../font/Pretendard-Light.woff2') format('woff2');
}

/* *********** RESET - CSS *********** */
* {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: PretendardMedium;
}
*, :after, :before {
	box-sizing: border-box;
	flex-shrink: 0;
}
:root {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	cursor: default;
	/* line-height: 1.5; */
	overflow-wrap: break-word;
	word-break: break-word;
	tab-size: 4;
}
html, body {
	height: 100%;
}
img, picture, video, canvas, svg {
	display:  block;
	max-width: 100%;
}
button {
	background: none;
	border: 0;
	cursor: pointer;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}